<template>
  <!-- eslint-disable -->
  <b-container class="bv-example-row">
    <b-row cols="12">
      <b-col cols="1">
        <router-link to="/"><font-awesome-icon icon="arrow-circle-left" size="2x" :style="{ color: 'black' }" /> &nbsp; </router-link>
      </b-col>
      <b-col cols="10">
        <h3>Pokemon Detail</h3>
      </b-col>
    </b-row>
    <b-row class="justify-content-md-center">
      <b-col sm="12" lg="8" xl="6" class="mb-4 mt-4">
        <b-card no-body img-alt="Image" :img-src="imgURL" img-top style="max-width: 100uvh;">
          <b-card-body  class="pb-2">
            <b-card-title>{{items.name}}</b-card-title>
            <b-card-text><b>Abilities:</b> <span v-for="(listItem, index) in abilities" :key="index"> {{index+1}}. {{listItem}} </span> <br/>
              <b>Types:</b> <span v-for="(listItem) in types" :key="listItem.type.name"> {{listItem.type.name}}; </span> <br/>
              <b>Height:</b> {{items.height}} &nbsp; <b>Weight:</b> {{items.weight}} <br/>
              <b>Moves:</b> <span v-for="(listItem) in moves" :key="listItem.move.name"> <b-badge class="ml-1 cstm-link" variant="secondary" @click="openMoves(listItem.move.url)">{{listItem.move.name}}</b-badge> </span>
            </b-card-text>
            <b-button
              variant="success"
              @click="onCatch(items.id)"
            >Catch</b-button>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>

    <b-modal id="modal-sm" size="sm" centered title="Nickname">
      <b-form ref="form" @submit.stop.prevent="addNewPokemon">
        <b-form-group label="Pokemon's Nickname">
          <b-form-input :state="nameState" v-model="pokemon.nickname" required/>
          <p v-if="errors_nickname" style="color: red;"><b>Nickname already used</b></p>
        </b-form-group>
      </b-form>

      <template slot="modal-footer">
        <b-button
          variant="danger"
          @click="hideModal('modal-sm')"
        >Release</b-button>
        <b-button
          variant="success"
          @click="addNewPokemon()"
          :disabled="pokemon.nickname == ''"
        >Add to Pokedex</b-button>
      </template>
    </b-modal>

    <b-modal id="modal-moves" size="sm" centered title="Moves Detail">
      <p><b>Name:</b> {{itemsDetail.name ? itemsDetail.name : '-' }}</p>
      <p><b>Accuracy:</b> {{itemsDetail.accuracy ? itemsDetail.accuracy : '-' }}</p>
      <p><b>Power:</b> {{itemsDetail.power ? itemsDetail.power : '-' }}</p>
      <template slot="modal-footer">
        <b-button
          variant="info"
          @click="hideModal('modal-moves')"
        >Close</b-button>
      </template>
    </b-modal>

  </b-container>
</template>

<script>
import { mapActions } from 'vuex'
import store from '../store'

export default {
  props: ['id'],
  data () {
    return {
      fields: [
        {
          key: 'index',
          label: 'No'
        },
        {
          key: 'name',
          label: 'Pokemon Name',
          sortable: true
        },
        {
          key: 'url',
          label: 'Action'
        }
      ],
      pokemon: {
        nickname: ''
      },
      errors_nickname: false,
      nameState: null,
      items: {},
      itemsDetail: {},
      imgURL: '',
      abilities: [],
      moves: [],
      types: [],
      localStorage: JSON.parse(localStorage.getItem('myPokemonList')),
      storeLocal: [],
      apiBase: store.state.apiBase + '/'
    }
  },
  methods: {
    ...mapActions(['fetchData']),
    loadItems (url) {
      var payload = { method: 'get', url: url }
      this.fetchData(payload).then(response => {
        this.items = response
        this.abilities = this.abilitiesStr(response.abilities)
        this.moves = response.moves
        this.types = response.types
        this.imgURL = this.items.sprites.front_shiny
      })
    },
    onCatch (url) {
      var probability = Math.floor((Math.random() * 10) + 1)
      if (probability % 2 === 0) {
        this.$toastr.s(
          'You got a new pokemon'
        )
        this.$root.$emit('bv::show::modal', 'modal-sm')
      } else {
        this.$toastr.e(
          'Pokemon gone away'
        )
      }
    },
    abilitiesStr (val) {
      var name = []
      val.forEach(function (value, key) {
        name.push(value.ability.name)
      })
      return name
    },
    addNewPokemon () {
      if (this.handleSubmit()) {
        const id = this.items.id
        this.storeLocal = this.localStorage
        var res = []
        if (this.storeLocal != null) {
          this.storeLocal.push({ 'id': id, 'nickname': this.pokemon.nickname })
        } else {
          res.push({ 'id': id, 'nickname': this.pokemon.nickname })
          this.storeLocal = res
        }
        localStorage.setItem('myPokemonList', JSON.stringify(this.storeLocal))
        this.localStorage = JSON.parse(localStorage.getItem('myPokemonList'))
        this.hideModal('modal-sm')
      }
    },
    hideModal (refname) {
      this.$root.$emit('bv::hide::modal', refname)
      this.pokemon = []
    },
    handleSubmit () {
      this.errors_nickname = false
      this.nameState = null
      if (this.$refs.form.checkValidity()) {
        if (this.localStorage != null) {
          if (this.localStorage.filter(x => x.nickname == this.pokemon.nickname).length > 0) {
            this.errors_nickname = true
            this.nameState = 'invalid'
            return false
          } else {
            this.nameState = null
            return true
          }
        } else {
          return true
        }
      }
    },
    openMoves (url) {
      console.log(url)
      var payload = { method: 'get', url: url }
      this.fetchData(payload).then(response => {
        console.log(response)
        this.itemsDetail = response
      })
      this.$root.$emit('bv::show::modal', 'modal-moves')
    }
  },
  watch: {
  },
  mounted () {
    this.loadItems(this.apiBase + this.id)
  }
}
</script>

<style>
  .b-page {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 4%;
  }
  .cstm-link {
    cursor: pointer;
  }
</style>
