<template>
  <!-- eslint-disable -->
  <b-container class="bv-example-row">
    <h3>Pokemon List</h3>
    <b-row>
      <b-col xxs="6">
        <div class="mb-2 mt-4 d-md">
          <div class="float-md-right">
              <span class="text-muted text-small mr-1 mb-2">Data Per Page </span>
            <b-dropdown
              id="ddown2"
              right
              :text="`${limit}`"
              variant="outline-dark"
              class="d-inline-block"
              size="xs"
            >
              <b-dropdown-item
                v-for="(size,index) in pageSizes"
                :key="index"
                @click="changePageSize(size)"
              >{{ size }}</b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row class="justify-content-md-center mt-2">
      <b-table id="my-table" responsive striped hover :items="items" :fields="fields" outlined>
        <div slot="table-busy" class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
        <template slot="table-caption">{{ from }} -  {{ to }} From {{ total }} list of all pokemons.</template>
        <template slot="index" slot-scope="data">
          {{ data.index + 1 }}
        </template>
        <template slot="owned" slot-scope="data">
          {{ data.item.owned }}
        </template>
        <template slot="url" slot-scope="data">
          <!-- <b-button size="sm" class="mr-1" variant="success" @click="onCatch(data.item.url)" :disabled="localStorage != null ? localStorage.find(x => x.id === data.item.id) : null">Catch</b-button> -->
          <router-link :to="{name: 'detail', params: { id: data.item.id } }" class="btn btn-sm btn-info">Detail</router-link>
        </template>
      </b-table>
    </b-row>
    <b-row>
        <b-col align-self="center">
          <b-button @click="btnPage(previous)" :disabled="previous == null" class="b-page" variant="outline-success">Previous</b-button>
          <b-button @click="btnPage(next)" :disabled="next == null" class="b-page" variant="outline-success">Next</b-button>
        </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'
import store from '../store'

export default {
  data () {
    return {
      fields: [
        {
          key: 'index',
          label: 'No'
        },
        {
          key: 'name',
          label: 'Name',
          sortable: true
        },
        {
          key: 'owned',
          label: 'Owned',
          sortable: true
        },
        {
          key: 'url',
          label: 'Action'
        }
      ],
      pokemon: {
        nickname: ''
      },
      isBusy: false,
      offset: 0,
      limit: 10,
      from: 0,
      to: 0,
      total: 0,
      idPoke: 0,
      next: '',
      previous: '',
      pageSizes: [10, 20, 50],
      items: [],
      localStorage: JSON.parse(localStorage.getItem('myPokemonList')),
      storeLocal: [],
      apiBase: store.state.apiBase + '/'
    }
  },
  methods: {
    ...mapActions(['fetchData']),
    loadItems (url) {
      // localStorage.setItem('myPokemonList', JSON.stringify([{'id': 1, 'nickname':'asaskjas'}, {'id': 1, 'nickname':'zzzz'}, {'id': 4, 'nickname':'asaskjas'}]))
      this.isBusy = true
      var payload = { method: 'get', url: url }
      this.fetchData(payload).then(response => {
        console.log(response.results)
        this.total = response.count
        this.next = response.next
        this.previous = response.previous
        this.items = this.generateIdPokemon(response.results)
        this.idPoke = this.generateIdPokemon(response.results)
        this.to = this.generateOffset(response.next)
        this.from = this.to == this.limit ? 0 : this.to - this.limit
        this.isBusy = false
        this.items.map(val => {
          if (this.localStorage != null) {
            val.owned = typeof this.localStorage.filter(x => x.id == val.id) == 'undefined' ? 0 : this.localStorage.filter(x => x.id == val.id).length
          } else {
            val.owned = 0
          }
        })
      })
    },
    generateOffset (item) {
      var url = new URL(item)
      var param = url.searchParams.get('offset')
      return param
    },
    generateIdPokemon (item) {
      var ids = ''
      var id = 0
      item.map(function (value) {
        ids = value.url.split('/')
        id = ids[6]
        value.id = id
        return value
      })
      return item
    },
    btnPage (url) {
      this.loadItems(url)
    },
    changePageSize (val) {
      this.offset = 0
      this.limit = val
      this.from = 0
      this.loadItems(this.apiBase + '?offset=' + this.offset + '&limit=' + this.limit)
    }
  },
  watch: {
  },
  mounted () {
    this.loadItems(this.apiBase + '?offset=' + this.offset + '&limit=' + this.limit)
  }
}
</script>

<style>
  .b-page {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 4%;
  }
</style>
