<template>
  <!-- eslint-disable -->
  <b-container class="bv-example-row">
    <h3>Pokedex</h3>
    <div class="float-md-center">
        <span class="text-muted text-small mr-1 mb-2">{{total}} Pokemon</span>
    </div>
    <template v-if="total >= 1">
        <b-container class="bv-example-row">
            <b-row class="justify-content-md-left">
                <b-col sm="6" lg="4" xl="3" class="mb-4 mt-4" v-for="(item,index) in items" :key="index" :id="item.id">
                    <image-list-item
                      :key="index"
                      :data="item"
                      @release-item="releaseItem"
                    />
                </b-col>
            </b-row>
        </b-container>
    </template>
    <template v-else>
        <h5 class="text-muted text-small no-data">No Pokemon in your Pokedex..</h5>
        <router-link class="btn btn-sm btn-secondary" to="/">Catch Pokemon</router-link>
    </template>
  </b-container>
</template>

<script>
// import { Component, Vue } from 'vue-property-decorator'
// import HelloWorld from '@/components/HelloWorld.vue' // @ is an alias to /src
import { mapActions } from 'vuex'
import ImageListItem from '@/components/ImageListItem.vue'
import store from '../store'

export default {
  components: {
    // HelloWorld
    ImageListItem
  },
  props: ['id'],
  data () {
    return {
      fields: [
        {
          key: 'index',
          label: 'No'
        },
        {
          key: 'name',
          label: 'Pokemon Name',
          sortable: true
        },
        {
          key: 'url',
          label: 'Action'
        }
      ],
      items: [],
      total: 0,
      localStorage: JSON.parse(localStorage.getItem('myPokemonList')),
      apiBase: store.state.apiBase + '/'
    }
  },
  methods: {
    ...mapActions(['fetchData']),
    loadItems (url) {
      this.items = []
      if (this.localStorage != null) {
        this.total = this.localStorage.length
        var key = 0
        this.localStorage.forEach(val => {
          var payload = { method: 'get', url: url + val.id + '/' }
          this.fetchData(payload).then(response => {
            var abilities = this.abilitiesStr(response.abilities)
            var imgURL = response.sprites.front_shiny
            this.items.push({
              id: val,
              nickname: val.nickname,
              name: response.name,
              imgURL: imgURL
            })
            key++
          })
        })
      }
    },
    abilitiesStr (val) {
      var name = []
      val.forEach(function (value, key) {
        name.push(value.ability.name)
      })
      return name
    },
    releaseItem (itemId) {
      this.$swal({
        title: 'Are you sure?',
        text: 'You will lose this pokemon',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes Release it!',
        cancelButtonText: 'No, Keep it!',
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then((result) => {
        if(result.value) {
          var delId = this.localStorage.indexOf(itemId)
          this.localStorage.splice(delId, 1)
          localStorage.setItem('myPokemonList', JSON.stringify(this.localStorage))
          this.localStorage = JSON.parse(localStorage.getItem('myPokemonList'))
          this.$swal('Released', 'You successfully release this pokemon', 'success')
          this.items = []
          this.loadItems(this.apiBase)
        } else {
          this.$swal('Cancelled', 'Your pokemon is still in your pokedex', 'info')
        }
      })
    }
  },
  computed: {
  },
  watch: {
  },
  mounted () {
    this.loadItems(this.apiBase)
  }
}
</script>

<style>
  .b-page {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 4%;
  }
  .bv-example-row {
      min-height: 68vh;
  }
  .no-data {
      padding-top: 20vh;
  }
</style>
