<template>
    <!-- eslint-disable -->
    <b-card no-body img-alt="Image" :img-src="data.imgURL">
        <b-card-body  class="pb-2">
            <b-card-title>{{data.nickname}} {{data.index}}</b-card-title>
            <b-card-text>({{data.name}})
            </b-card-text>
            <b-button class="mb-4"
                variant="danger"
                @click="onRelease(data.id)"
            >Release</b-button>
        </b-card-body>
    </b-card>
</template>
<script>
export default {
  props: ['data'],
  methods: {
    onRelease (itemId) {
      this.$emit('release-item',itemId)
    }
  }
}
</script>
