<template>
  <div id="app">
    <div class="header">
      <router-link to="/">Pokemon</router-link> |
      <router-link to="/my-pokemon">My Pokemon</router-link>
    </div>
    <router-view class="content"/>
    <div class="footer">
      <p>Designed and built for Mini Project Tokopedia.<br/>Copyright 2019 by Egi Gagah Brilliant.</p>
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px;
  margin-bottom: 4%;
  z-index: 99;
  background-color: white;
  -webkit-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.75);
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.content {
  margin-top: 20vh;
}
.footer {
   /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #42b983;
   color: #F2F2F2;
   font-size: 12px;
   text-align: center;
   margin-top: 4%;
   padding: 3%;
   -webkit-box-shadow: 0px 16px 55px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 16px 55px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 16px 55px 0px rgba(0,0,0,0.75);
}
</style>
